Yahv/Yahv.Erm/Yahv.Erm.Services/Service References/DYJRSService/RSServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RSServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://kf.51db.com/WCFHTTPServerTest/RSServer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://kf.51db.com/WCFHTTPServerTest/RSServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://kf.51db.com/WCFHTTPServerTest/RSServer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRSServer_GetEmployeeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByID" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetEmployeeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetUserInfoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoList" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetUserInfoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetImgType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImgType" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetImgType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImgTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetBankType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankType" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetBankType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetSheBaoCorp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSheBaoCorp" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetSheBaoCorp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSheBaoCorpResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_TooAudit_InputMessage">
    <wsdl:part name="parameters" element="tns:TooAudit" />
  </wsdl:message>
  <wsdl:message name="IRSServer_TooAudit_OutputMessage">
    <wsdl:part name="parameters" element="tns:TooAuditResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_SetFTPFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFTPFile" />
  </wsdl:message>
  <wsdl:message name="IRSServer_SetFTPFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFTPFileResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetWorkDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkDate" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetWorkDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkDateResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetQingJiaList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQingJiaList" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetQingJiaList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQingJiaListResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetEmployeeLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeLog" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetEmployeeLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeLogResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetDYJCorp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDYJCorp" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetDYJCorp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDYJCorpResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetDYJDept_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDYJDept" />
  </wsdl:message>
  <wsdl:message name="IRSServer_GetDYJDept_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDYJDeptResponse" />
  </wsdl:message>
  <wsdl:message name="IRSServer_SetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IRSServer_SetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IRSServer">
    <wsdl:operation name="GetEmployeeByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/GetEmployeeByID" message="tns:IRSServer_GetEmployeeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/GetEmployeeByIDResponse" message="tns:IRSServer_GetEmployeeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/GetUserInfoList" message="tns:IRSServer_GetUserInfoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/GetUserInfoListResponse" message="tns:IRSServer_GetUserInfoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImgType">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/GetImgType" message="tns:IRSServer_GetImgType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/GetImgTypeResponse" message="tns:IRSServer_GetImgType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankType">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/GetBankType" message="tns:IRSServer_GetBankType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/GetBankTypeResponse" message="tns:IRSServer_GetBankType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSheBaoCorp">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/GetSheBaoCorp" message="tns:IRSServer_GetSheBaoCorp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/GetSheBaoCorpResponse" message="tns:IRSServer_GetSheBaoCorp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TooAudit">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/TooAudit" message="tns:IRSServer_TooAudit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/TooAuditResponse" message="tns:IRSServer_TooAudit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFTPFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/SetFTPFile" message="tns:IRSServer_SetFTPFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/SetFTPFileResponse" message="tns:IRSServer_SetFTPFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/GetWorkDate" message="tns:IRSServer_GetWorkDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/GetWorkDateResponse" message="tns:IRSServer_GetWorkDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQingJiaList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/GetQingJiaList" message="tns:IRSServer_GetQingJiaList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/GetQingJiaListResponse" message="tns:IRSServer_GetQingJiaList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/GetEmployeeLog" message="tns:IRSServer_GetEmployeeLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/GetEmployeeLogResponse" message="tns:IRSServer_GetEmployeeLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDYJCorp">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/GetDYJCorp" message="tns:IRSServer_GetDYJCorp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/GetDYJCorpResponse" message="tns:IRSServer_GetDYJCorp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDYJDept">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/GetDYJDept" message="tns:IRSServer_GetDYJDept_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/GetDYJDeptResponse" message="tns:IRSServer_GetDYJDept_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSServer/SetUserInfo" message="tns:IRSServer_SetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSServer/SetUserInfoResponse" message="tns:IRSServer_SetUserInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRSServer" type="tns:IRSServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeByID">
      <soap:operation soapAction="http://tempuri.org/IRSServer/GetEmployeeByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoList">
      <soap:operation soapAction="http://tempuri.org/IRSServer/GetUserInfoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImgType">
      <soap:operation soapAction="http://tempuri.org/IRSServer/GetImgType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankType">
      <soap:operation soapAction="http://tempuri.org/IRSServer/GetBankType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSheBaoCorp">
      <soap:operation soapAction="http://tempuri.org/IRSServer/GetSheBaoCorp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TooAudit">
      <soap:operation soapAction="http://tempuri.org/IRSServer/TooAudit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFTPFile">
      <soap:operation soapAction="http://tempuri.org/IRSServer/SetFTPFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkDate">
      <soap:operation soapAction="http://tempuri.org/IRSServer/GetWorkDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQingJiaList">
      <soap:operation soapAction="http://tempuri.org/IRSServer/GetQingJiaList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeLog">
      <soap:operation soapAction="http://tempuri.org/IRSServer/GetEmployeeLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDYJCorp">
      <soap:operation soapAction="http://tempuri.org/IRSServer/GetDYJCorp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDYJDept">
      <soap:operation soapAction="http://tempuri.org/IRSServer/GetDYJDept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IRSServer/SetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RSServer">
    <wsdl:port name="BasicHttpBinding_IRSServer" binding="tns:BasicHttpBinding_IRSServer">
      <soap:address location="http://kf.51db.com/WCFHTTPServerTest/RSServer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>