Yahv/Yahv.Erm/Yahv.Erm.Services/Service References/DYJRSService/RSServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kf.51db.com/WCFHTTPServerTest/RSServer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetEmployeeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserInfoListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImgType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImgTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImgTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBankTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSheBaoCorp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSheBaoCorpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSheBaoCorpResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TooAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createUid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TooAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TooAuditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFTPFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createUid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="imgBase64" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFTPFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFTPFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uids" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="edate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQingJiaList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uids" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="edate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQingJiaListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQingJiaListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDYJCorp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDYJCorpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDYJCorpResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDYJDept">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDYJDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDYJDeptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="corpID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDCard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobilePhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MSN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="homeArea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createUid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hunFou" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zhengZhiMianMao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minZu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xianZhuArea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jinJiLianXiRen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jinJiPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zhuanXiangFuJiaKouChu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txbase" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SheBaoCorp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>